@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
/* External css link */

/* General Selector */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: 0.5s;
}
/* End of General Selector */

/* Scroll behavior */
html{
    scroll-behavior: smooth;
}
/* End Of Scroll behaviour*/
/* Navbar styling */
.navbar{
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    border: 3px solid #07f702;
}
/* Navbar Logo Styling */
.navbar .name p{
    justify-content: center;
    font-family: 'Itim', cursive;
    color: #07f702;
    font-size: 19px;
}
/* Navbar Buttons Styling */
.navbar .but button{
   padding: 3px 7px;
   border: 1px solid black;
   margin-right: 10px;
   margin-top: 2px;
}
/* Navbar Button Hover Effect */
.navbar .but button:first-child:hover{
    background-color: red;
    color: #fff;
}
.navbar .but button:last-child:hover{
    background-color: skyblue;
    color: white;
}
.navbar .but button:nth-last-child(2):hover{
    background-color: yellow;
}
/* End Of Navbar Styling */
.second-container{
    border: 3px solid #07f702;
    padding-top: 8%;
    background-color: rgba(0, 0, 0, 0.925);
    width: 100%;
    height: 500px;
}
.second-container p{
    font-size: 20px;
    color: #07f702;
    font-family: 'Itim', cursive;
}
.second-container h5{
    margin-top: 25px;
    font-size: 39px;
    padding-top: 20px;
    color: #07f702;
    font-family: 'Itim', cursive;
}
.skills{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.925);
    border: 3px solid #07f702;
    border-top: 1px solid;
}
.skills p{
    padding-top: 11px;
    font-size: 29px;
    padding-left: 40%;
    color: #07f702;
    font-family: 'Itim', cursive;
}
#border{
    margin-top: 10px;
    border: 2px solid #07f702;
}
.skill-icons{
    display: flex;
    transition: 0.5s;
}
.code1-icon{
    margin-left: 40px;
    margin-top: 60px;
    color: #07f702;
    padding: 0px;
}
.code1-icon span{
   font-size: 170px;
}
.code1-icon h6{
    font-size: 24px;
    font-family: 'Itim', cursive;
}
.code2-icons{
    margin-top: 60px;
    margin-left: 105px;
    color: #07f702;
}
.code2-icons span{
    font-size: 170px;
}
.code2-icons h6{
    padding-left: 27px;
    font-size: 24px;
    font-family: 'Itim', cursive;
}
.code3-icons{
    margin-top: 60px;
    color: #07f702;
}
.code3-icons span{
    margin-left: 90px;
    font-size: 170px;
}
.code3-icons h6{
    padding-left: 90px;
    font-size: 24px;
    font-family: 'Itim', cursive;
}
.code4-icons{
    color: #07f702;
    margin-top: 60px;
}
.code4-icons span{
    margin-left: 100px;
    font-size: 170px;
}
.code4-icons h6{
    padding-left: 130px;
    font-size: 24px;
    font-family: 'Itim', cursive;
}
.code5-icons{
    color: #07f702;
    margin-top: 60px; 
}
.code5-icons span{
    margin-left: 100px;
    font-size: 170px;
}
.code5-icons h6{
    padding-left: 130px;
    font-size: 24px;
    font-family: 'Itim', cursive;
}
#border1{
    margin-top: 2%;
    border: 2px solid #07f702;
}
.projects{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.925);
    border: 3px solid #07f702;
    border-top: 1px solid;
}
.projects p{
    padding-top: 11px;
    font-size: 29px;
    padding-left: 40%;
    color: #07f702;
    font-family: 'Itim', cursive;
}
.projects-container{
    display: flex;
}
.project-icon{
    margin-left: 40px;
    margin-top: 60px;
    color: #07f702;
    padding: 0px;
}
.project-icon span{
    font-size: 170px;
}
.project-icon h6{
    font-size: 24px;
    font-family: 'Itim', cursive;
}
